{% extends 'layouts/base.html.twig' %}

{% block title title %}

{% block body %}
	<div class="container ml-auto mr-auto">
		{#<h1>{{ title }}</h1>
		<div class="d-flex flex-wrap">
			{% for book in books %}
				<article class="mr-auto ml-auto">
					<a class="book-a text-decoration-none text-dark" href="{{ path('app_books_show', {id: book.id}) }}">
						<img src="{{ (book.imageName ? vich_uploader_asset(book) :  asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_small') }}" alt="{{ book.title }}"/>
						<p class="text-center ">{{ book.title|u.truncate(26, '...') }}</p>
					</a>
				</article>
			{% endfor %}
		</div>#}

		<div id="books"></div>
	</div>
{% endblock %}
